*{
  padding: 0; 
  margin: 0;
}

body{
  box-sizing: border-box;
  height: 100vh;
  background: url("../assets/imgs/maps-bg.jpg") no-repeat;
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
}

.title-h1{
  text-align: center;
  color: grey;
  font-size: 3rem;
  margin: 1rem;
}

#map {
  margin: .5rem;
  position: absolute;
  right: .5rem;
  height: 80vh;
  /* The height is 400 pixels */
  width: 45vw;
  /* The width is the width of the web page */
}

